@import url("https://fonts.googleapis.com/css2?family=Archivo&family=Old+Standard+TT&family=Roboto:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Archivo&family=Old+Standard+TT&family=Roboto:wght@700&display=swap");
/*MEDIA QUERIES*/
nav {
  background-color: #FFFFFF;
  height: 70px;
}
nav #btn_menu {
  position: absolute;
  margin-top: 25px;
  margin-left: 20px;
}
nav #logo {
  margin-left: 34px;
}
nav #icon_person {
  position: absolute;
  right: 0;
  top: 21px;
  margin-right: 60px;
  background-color: white;
}
nav #search_icon {
  position: absolute;
  right: 0;
  top: 18px;
  margin-right: 20px;
  background-color: #FFFFFF;
}

.menu_hamburguesa {
  display: none;
  position: fixed;
  top: 0;
  background-color: #333333;
  height: 1200px;
  z-index: 80;
  width: 50%;
}
@media (min-width: 900px) {
  .menu_hamburguesa {
    width: 15%;
  }
}

.main_container {
  display: block;
  width: 85%;
  padding-left: 15%;
}

#section_burguer {
  display: none;
}
#section_burguer button {
  position: relative;
  top: 0;
  right: 0px;
  background-color: transparent;
}

#enlaces_hamburguesa {
  position: relative;
  top: 40vh;
  padding: 0% 15%;
}
#enlaces_hamburguesa li {
  list-style: none;
  line-height: 40px;
  list-style-type: none;
  text-decoration: none;
}
#enlaces_hamburguesa li a {
  color: #E5E5E5;
  font-size: 25px;
  text-decoration: none;
}
#enlaces_hamburguesa li a:hover {
  color: #BEAD8E;
}

/*MEDIA QUERIES*/
.main_about {
  height: 265px;
  background-color: #333333;
  color: #FFFFFF;
  position: relative;
  margin-bottom: 60px;
  /*Tablet*/
  /*DESKTOP*/
}
.main_about p {
  padding-top: 60px;
  font-family: "Old Standard TT", serif;
  text-transform: uppercase;
  font-style: normal;
  letter-spacing: 2.8px;
}
.main_about h1 {
  padding-top: 15px;
  font-family: "Old Standard TT", sans-serif;
  font-style: normal;
  font-size: 56px;
  letter-spacing: -1.2px;
  font-weight: 400;
}
@media (min-width: 700px) {
  .main_about {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .main_about p {
    font-size: 40px;
    line-height: 2.5rem;
    text-align: center;
  }
}
@media (min-width: 1200px) {
  .main_about {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .main_about p {
    font-size: 70px;
    line-height: 4.5rem;
    text-align: center;
  }
}

#card_about {
  bottom: 0;
  right: 17px;
  position: absolute;
  background-color: #FFFFFF;
  height: 40px;
  width: 130px;
  display: flex;
  gap: 12px;
  text-align: center;
  padding-left: 9px;
  padding-right: 9px;
  font-size: 16px;
}
#card_about #home {
  font-family: "Archivo", sans-serif;
  font-size: 16px;
  line-height: 17px;
  letter-spacing: -0.48px;
  color: #222222;
  font-weight: 700;
}
#card_about #about {
  padding-left: 8px;
  font-family: "Archivo", sans-serif;
  font-size: 16px;
  line-height: 17px;
  letter-spacing: -0.48px;
  color: #BEAD8E;
  font-weight: 700;
}
#card_about #line {
  width: 2px;
  background-color: #111111;
  height: 32px;
  margin-top: 4px;
  margin-bottom: 2px;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

body {
  background-color: #FFFFFF;
}

.list_card {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.item_card {
  position: relative;
  display: flex;
  gap: 22px;
  height: 236px;
}

.text_item_card {
  font-family: "Old Standard TT";
  padding-right: 80px;
}
.text_item_card h1 {
  padding-bottom: 12px;
  font-weight: 400;
}
.text_item_card p {
  color: #777777;
  font-weight: 400;
  font-size: 16px;
}

.number {
  position: absolute;
  z-index: -1;
  right: 1px;
  margin-right: 44px;
}

#mapGoogle {
  margin: 20px;
  width: 835px;
  height: 600px;
  background-color: #777777;
}

.custom-map-control-button {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  padding: 4px;
  background-color: #FFFFFF;
  font-weight: bold;
  border-radius: 12px;
}

#container {
  height: 100%;
  display: flex;
}

#sidebar {
  flex-basis: 15rem;
  flex-grow: 1;
  padding: 1rem;
  max-width: 30rem;
  height: 100%;
  box-sizing: border-box;
  overflow: auto;
}

#sidebar {
  flex-direction: column;
}

/*# sourceMappingURL=contact.css.map */
