@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Archivo&family=Old+Standard+TT&family=Roboto:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Archivo&family=Old+Standard+TT&family=Roboto:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Archivo&family=Old+Standard+TT&family=Roboto:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Archivo&family=Old+Standard+TT&family=Roboto:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Archivo&family=Old+Standard+TT&family=Roboto:wght@700&display=swap");
/*MEDIA QUERIES*/
@import url("https://fonts.googleapis.com/css2?family=Archivo&family=Old+Standard+TT&family=Roboto:wght@700&display=swap");
nav {
  background-color: #FFFFFF;
  height: 70px;
}
nav #btn_menu {
  position: absolute;
  margin-top: 25px;
  margin-left: 20px;
}
nav #logo {
  margin-left: 34px;
}
nav #icon_person {
  position: absolute;
  right: 0;
  top: 21px;
  margin-right: 60px;
  background-color: white;
}
nav #search_icon {
  position: absolute;
  right: 0;
  top: 18px;
  margin-right: 20px;
  background-color: #FFFFFF;
}

/*MEDIA QUERIES*/
#arrival_card {
  height: 325px;
  background-color: #222222;
  padding-left: 20px;
}
@media (min-width: 450px) {
  #arrival_card {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
  }
}
#arrival_card form {
  height: 282px;
  width: 335px;
  padding-top: 36px;
}
@media (min-width: 450px) {
  #arrival_card form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
#arrival_card div {
  width: 335px;
  height: 75px;
  padding-bottom: 18px;
}
#arrival_card label {
  font-family: "Roboto", sans-serif;
  color: #FFFFFF;
  font-size: 16px;
  line-height: 18.75px;
  font-weight: bold;
}
#arrival_card input[type=date] {
  color: #BEAD8E;
  padding: 12px;
  width: 260px;
  outline: none;
  background-color: transparent;
}
#arrival_card .eyeliner {
  height: 2px;
  width: 335px;
  background: #BEAD8E;
}
#arrival_card button {
  width: 216px;
  height: 60px;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 2.8px;
  line-height: 15.23px;
  background-color: #BEAD8E;
  color: #FFFFFF;
}

/*MEDIA QUERIES*/
.card_more {
  height: 560px;
  margin: 0px 52px;
  margin-bottom: 52px;
}
.card_more .team_img {
  height: 300px;
  background-color: #E4E4E4;
}
.card_more .div_team {
  box-shadow: 0px 8px 16px rgba(34, 34, 34, 0.02);
}
.card_more #team {
  position: relative;
  top: 40px;
  left: 40%;
  z-index: 20;
}
@media (min-width: 450px) {
  .card_more #team {
    top: 80px;
  }
}
.card_more #team_shadow {
  position: relative;
  top: 72px;
  left: 66px;
  z-index: 1;
}
.card_more h1 {
  padding-top: 42px;
  padding-left: 2px;
  position: static;
  font-size: 30px;
  text-align: center;
  z-index: -1;
}
.card_more p {
  font-family: "Roboto, sans-serif";
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  font-size: 14px;
  margin: auto;
  padding-top: 22px;
  text-align: center;
  width: 199px;
  height: 77px;
}

.slider {
  height: 244px;
  position: relative;
  bottom: 40px;
  background-color: #E5E5E5;
  z-index: -1;
}

.card_info_price {
  height: 215px;
  text-align: center;
  background-color: #FFFFFF;
  margin: 0px 25px;
  position: relative;
  bottom: 62px;
}
.card_info_price h1 {
  padding-top: 32px;
  font-family: "Old Standard TT", serif;
  font-size: 28px;
  line-height: 36px;
  font-weight: 400;
  color: #222222;
}
.card_info_price p {
  padding: 18px 20px 0px 20px;
  font-family: "Archivo", serif;
  font-weight: 400;
  line-height: 24px;
  font-size: 14px;
  color: #C2C2C2;
  text-align: center;
}
.card_info_price .price_card {
  position: relative;
  bottom: 18px;
  font-weight: bold;
  font-size: 28px;
  color: #BEAD8E;
}
.card_info_price .price_card sub {
  position: relative;
  bottom: 8px;
  font-size: 12px;
  color: #BEAD8E;
}
.card_info_price .price_card a {
  font-size: 28px;
  padding-right: 2px;
}

/*MEDIA QUERIES*/
.intro_video {
  background-color: #222222;
  max-height: 1200px;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 35px;
}
.intro_video #subtitle {
  font-size: 14px;
  letter-spacing: 2.8px;
  font-size: 14px;
  font-weight: bold;
  padding-top: 60px;
  padding-bottom: 22px;
  color: #BEAD8E;
  font-family: "Archivo", serif;
  line-height: 15.23px;
}
.intro_video h1 {
  font-weight: 400;
  font-family: "Old Standard TT", serif;
  font-size: 56px;
  color: #FFFFFF;
  line-height: 60px;
  letter-spacing: -1.2px;
  padding-bottom: 12px;
}
.intro_video p {
  font-family: "Archivo", serif;
  font-weight: 400;
  font-size: 14px;
  color: #c2c2c2;
  line-height: 24px;
  padding-bottom: 12px;
}
.intro_video video {
  width: 100%;
  height: auto;
}
.intro_video button {
  margin-top: 35px;
  margin-bottom: 35px;
  width: 216px;
  height: 60px;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 2.8px;
  line-height: 15.23px;
  background-color: #BEAD8E;
  color: #FFFFFF;
}

/*MEDIA QUERIES*/
.footer {
  margin-top: 30px;
  height: 1050px;
  padding-left: 20px;
}
@media (min-width: 900px) {
  .footer {
    height: 640px;
  }
}
.footer .description {
  font-weight: 400;
  line-height: 29px;
  font-size: 16px;
  font-family: "Archivo", serif;
  padding: 0px 20px;
}
.footer .description ul {
  padding-top: 35px;
  padding-left: 1px;
  display: flex;
  gap: 20px;
  list-style: none;
}
.footer .description li {
  text-decoration: none;
  padding: 6px;
}
.footer .description #twitter {
  background-color: #BEAD8E;
}
.footer .description .grey {
  background-color: #F8F8F8;
}
.footer .services {
  padding-top: 20px;
}
.footer .services p {
  font-family: "Old Standart TT";
  font-weight: 400;
  font-size: 24px;
  padding-left: 20px;
}

.services_list {
  display: flex;
  gap: 20px;
  padding-left: 20px;
  padding-top: 20px;
}
.services_list ul {
  list-style: none;
  width: 158px;
}
.services_list a {
  font-size: 16px;
  font-family: "Roboto", serif;
  color: #777777;
  font-weight: 400;
  line-height: 48px;
}

.contact_us {
  padding-top: 30px;
  padding-bottom: 20px;
  padding-left: 20px;
}
.contact_us #title {
  font-family: "Old Standard TT";
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
}

.item_contact {
  padding-top: 25px;
  padding-bottom: 20px;
}
.item_contact .number {
  padding-left: 15px;
}

.badge_footer {
  background-color: #F8F8F8;
  height: 90px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding-top: 30px;
  padding-left: 20px;
}
.badge_footer p {
  font-family: "Roboto", serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 18.75px;
  letter-spacing: -0.48px;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

body {
  background-color: #FFFFFF;
}

#main_card {
  background-color: #333333;
  height: 531px;
  padding-left: 20px;
}
@media (min-width: 700px) {
  #main_card {
    height: 500px;
  }
}
@media (min-width: 900px) {
  #main_card {
    height: 585px;
  }
}
@media (min-width: 450px) {
  #main_card {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
  }
}
#main_card p {
  font-size: 22px;
  padding-top: 52px;
  color: #FFFFFF;
  line-height: 2rem;
  letter-spacing: 2.8px;
  font-weight: bold;
}
@media (min-width: 450px) {
  #main_card p {
    font-size: 45px;
    text-align: center;
    line-height: 3rem;
  }
}
@media (min-width: 700px) {
  #main_card p {
    font-size: 45px;
    line-height: 3rem;
  }
}
@media (min-width: 900px) {
  #main_card p {
    font-size: 70px;
    line-height: 4.5rem;
    text-align: center;
  }
}
#main_card h1 {
  font-family: "Old Standard TT", serif;
  font-size: 56px;
  padding-top: 32px;
  font-weight: 400;
  color: #FFFFFF;
  letter-spacing: -1.2px;
}
@media (min-width: 450px) {
  #main_card h1 {
    font-size: 40px;
  }
}
@media (min-width: 700px) {
  #main_card h1 {
    font-size: 40px;
  }
}
#main_card #btn_group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 25px;
  gap: 22px;
}
#main_card button {
  width: 216px;
  height: 60px;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 2.8px;
  line-height: 15.23px;
  color: #FFFFFF;
}
#main_card #btn_tour {
  background-color: #BEAD8E;
}
#main_card #btn_more {
  background-color: #333333;
  border: 2px solid rgba(255, 255, 255, 0.33);
}

#discover_us {
  height: 510px;
  background-color: #FFFFFF;
  padding-left: 20px;
}
@media (min-width: 450px) {
  #discover_us {
    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: column;
  }
}
#discover_us #discover_subtitle {
  padding-top: 38px;
  color: #777777;
  font-weight: bold;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 2.8px;
}
#discover_us h1 {
  font-family: "Old Standard TT", serif;
  font-size: 56px;
  line-height: 60px;
  padding-top: 38px;
  font-weight: 400;
  line-height: 60px;
  color: #111111;
}
#discover_us #text_discover {
  font-size: 14px;
  font-weight: 400px;
  color: #777777;
  padding-top: 22px;
  line-height: 24px;
  width: 335px;
  height: 126px;
  padding-bottom: 15px;
  font-family: "Archivo", sans-serif;
}
#discover_us button {
  width: 216px;
  height: 60px;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 2.8px;
  line-height: 15.23px;
  background-color: #BEAD8E;
  color: #FFFFFF;
}

.subtitles_info {
  font-family: "Archivo", sans-serif;
  color: #777777;
  text-align: center;
  font-weight: bold;
  font-size: 14px;
  line-height: 15px;
  letter-spacing: 2.8px;
}

.title_info {
  text-align: center;
  font-weight: 400;
  font-size: 56px;
  font-family: "Old Standard TT", serif;
  letter-spacing: -1, 2px;
  margin-top: 25px;
  margin-bottom: 12px;
}

#slider_box {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.facilities {
  text-align: center;
  height: 501px;
}
.facilities #subtitle {
  font-family: "Archivo", serif;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 2.8px;
  line-height: 15.23px;
  color: #777777;
  padding-bottom: 18px;
}
.facilities h1 {
  font-family: "Old Standard TT", serif;
  font-weight: 400;
  font-size: 56px;
  line-height: 60px;
  letter-spacing: -1.2px;
  color: #222222;
}
.facilities .slider_core {
  margin-top: 22px;
  height: 370px;
}

.menu {
  height: 800px;
  margin-top: 18px;
  padding-left: 20px;
}
.menu #roscon {
  position: absolute;
  margin-top: 1px;
  right: 0;
}
.menu .menu_div {
  position: relative;
  top: 120px;
}
.menu .menu_div #subtitle_menu {
  font-family: "Archivo", serif;
  font-size: 14px;
  line-height: 15.23px;
  letter-spacing: 2.8px;
  color: #777777;
  font-weight: bold;
}
.menu .menu_div #title_menu {
  font-family: "Old Standard TT", serif;
  line-height: 60px;
  letter-spacing: -1.2px;
  font-weight: 400;
  font-size: 56px;
  padding-top: 30px;
}

.menu_food {
  padding-top: 20px;
  padding-bottom: 12px;
  height: 120px;
  display: flex;
  column-gap: 20px;
}
.menu_food .image_menu {
  background-color: #DBDBDB;
  width: 120px;
}
.menu_food .text_menu {
  width: 185px;
}
.menu_food .text_menu h1 {
  font-family: "Old Standard TT", serif;
  font-family: 400;
  font-size: 24px;
  line-height: 24px;
  letter-spacing: -0.72px;
  padding-bottom: 10px;
}
.menu_food .text_menu p {
  font-family: "Roboto", serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

.arrow_right {
  position: relative;
  top: 115px;
  left: 310px;
  height: 20px;
  padding: 20px;
  background-color: #BEAD8E;
}
.arrow_right img {
  position: relative;
  bottom: 7px;
}

.arrow_left {
  position: relative;
  top: 115px;
  left: 190px;
  height: 20px;
  padding: 20px;
  background-color: #F8F8F8;
}
.arrow_left img {
  position: relative;
  bottom: 7px;
}

.basic_slider {
  display: none;
  margin: 20px;
  height: 335px;
  background-color: #EDEDED;
}

.wrap_icons {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  background-color: #222222;
  height: 300px;
}
@media (max-width: 900px) {
  .wrap_icons {
    height: 1100px;
  }
}

.card_icons {
  height: 1030px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #222222;
}
@media (min-width: 900px) {
  .card_icons {
    align-content: space-between;
    height: 300px;
    flex-direction: row;
  }
}
.card_icons .card_icon {
  padding: 35px 0px;
  height: 186px;
  background-color: #222222;
}

@media (min-width: 700px) {
  .container_services {
    display: flex;
    align-items: baseline;
  }
}

.img_luxe {
  background-image: url("../images/home/home_luxe_3800.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

#luxury_img {
  background-image: url("../images/home/home_luxury.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

#duplex_img {
  background-image: url("../images/home/home_duplex.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.slider_core {
  background-image: url("../images/home/home_core.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.section_video {
  width: 100%;
  max-width: 80%;
}

#eggs {
  background-image: url("../images/icons/icons_menu/egg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

#tea {
  background-image: url("../images/icons/icons_menu/te.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

#chia {
  background-image: url("../images/icons/icons_menu/chía.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

/*# sourceMappingURL=home.css.map */
