@import url("https://fonts.googleapis.com/css2?family=Archivo&family=Old+Standard+TT&family=Roboto:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Archivo&family=Old+Standard+TT&family=Roboto:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Archivo&family=Old+Standard+TT&family=Roboto:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Archivo&family=Old+Standard+TT&family=Roboto:wght@700&display=swap");
/*MEDIA QUERIES*/
nav {
  background-color: #FFFFFF;
  height: 70px;
}
nav #btn_menu {
  position: absolute;
  margin-top: 25px;
  margin-left: 20px;
}
nav #logo {
  margin-left: 34px;
}
nav #icon_person {
  position: absolute;
  right: 0;
  top: 21px;
  margin-right: 60px;
  background-color: white;
}
nav #search_icon {
  position: absolute;
  right: 0;
  top: 18px;
  margin-right: 20px;
  background-color: #FFFFFF;
}

.menu_hamburguesa {
  display: none;
  position: fixed;
  top: 0;
  background-color: #333333;
  height: 1200px;
  z-index: 80;
  width: 50%;
}
@media (min-width: 900px) {
  .menu_hamburguesa {
    width: 15%;
  }
}

.main_container {
  display: block;
  width: 85%;
  padding-left: 15%;
}

#section_burguer {
  display: none;
}
#section_burguer button {
  position: relative;
  top: 0;
  right: 0px;
  background-color: transparent;
}

#enlaces_hamburguesa {
  position: relative;
  top: 40vh;
  padding: 0% 15%;
}
#enlaces_hamburguesa li {
  list-style: none;
  line-height: 40px;
  list-style-type: none;
  text-decoration: none;
}
#enlaces_hamburguesa li a {
  color: #E5E5E5;
  font-size: 25px;
  text-decoration: none;
}
#enlaces_hamburguesa li a:hover {
  color: #BEAD8E;
}

/*MEDIA QUERIES*/
.main_about {
  height: 265px;
  background-color: #333333;
  color: #FFFFFF;
  position: relative;
  margin-bottom: 60px;
  /*Tablet*/
  /*DESKTOP*/
}
.main_about p {
  padding-top: 60px;
  font-family: "Old Standard TT", serif;
  text-transform: uppercase;
  font-style: normal;
  letter-spacing: 2.8px;
}
.main_about h1 {
  padding-top: 15px;
  font-family: "Old Standard TT", sans-serif;
  font-style: normal;
  font-size: 56px;
  letter-spacing: -1.2px;
  font-weight: 400;
}
@media (min-width: 700px) {
  .main_about {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .main_about p {
    font-size: 40px;
    line-height: 2.5rem;
    text-align: center;
  }
}
@media (min-width: 1200px) {
  .main_about {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .main_about p {
    font-size: 70px;
    line-height: 4.5rem;
    text-align: center;
  }
}

#card_about {
  bottom: 0;
  right: 17px;
  position: absolute;
  background-color: #FFFFFF;
  height: 40px;
  width: 130px;
  display: flex;
  gap: 12px;
  text-align: center;
  padding-left: 9px;
  padding-right: 9px;
  font-size: 16px;
}
#card_about #home {
  font-family: "Archivo", sans-serif;
  font-size: 16px;
  line-height: 17px;
  letter-spacing: -0.48px;
  color: #222222;
  font-weight: 700;
}
#card_about #about {
  padding-left: 8px;
  font-family: "Archivo", sans-serif;
  font-size: 16px;
  line-height: 17px;
  letter-spacing: -0.48px;
  color: #BEAD8E;
  font-weight: 700;
}
#card_about #line {
  width: 2px;
  background-color: #111111;
  height: 32px;
  margin-top: 4px;
  margin-bottom: 2px;
}

/*MEDIA QUERIES*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

body {
  background-color: #FFFFFF;
}

.item {
  height: 411px;
  margin: 20px;
}

.grid_container {
  display: grid;
}

.grid_item {
  height: 218px;
  background-color: #E9E9E9;
}

.grid_item_images {
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  bottom: 25px;
}

.text_room {
  padding-top: 30px;
  text-align: center;
  height: 218px;
}
.text_room h1 {
  font-family: "Old Standard TT", sans-serif;
  font-weight: 400;
  font-size: 24px;
  letter-spacing: -0.72;
}
.text_room p {
  padding-top: 10px;
  font-family: "Old Standard TT";
  padding-left: 10px;
  padding-right: 10px;
  font-weight: 200;
  font-size: 16px;
  font-style: normal;
  color: #777777;
  padding-bottom: 12px;
}
.text_room #price_day {
  font-family: "Archivo", sans-serif;
  font-weight: 600;
  color: #BEAD8E;
  padding-right: 10px;
}
.text_room #booking {
  font-family: "Archivo", sans-serif;
  font-weight: 600;
  color: #BDBDBD;
}

/*MEDIA QUERIES*/
.footer {
  margin-top: 30px;
  padding-left: 20px;
}
.footer .description {
  font-weight: 400;
  line-height: 29px;
  font-size: 16px;
  font-family: "Archivo", serif;
  padding: 0px 20px;
}
.footer .description ul {
  padding-top: 35px;
  padding-left: 1px;
  display: flex;
  gap: 20px;
  list-style: none;
}
.footer .description li {
  text-decoration: none;
  padding: 6px;
}
.footer .description #twitter {
  background-color: #BEAD8E;
}
.footer .description .grey {
  background-color: #F8F8F8;
}
.footer .services {
  padding-top: 20px;
}
.footer .services p {
  font-family: "Old Standart TT";
  font-weight: 400;
  font-size: 24px;
  padding-left: 20px;
}

.services_list {
  display: flex;
  gap: 20px;
  padding-left: 20px;
  padding-top: 20px;
}
.services_list ul {
  list-style: none;
  width: 158px;
}
.services_list a {
  font-size: 16px;
  font-family: "Roboto", serif;
  color: #777777;
  font-weight: 400;
  line-height: 48px;
}

.contact_us {
  padding-top: 30px;
  padding-bottom: 20px;
  padding-left: 20px;
}
.contact_us #title {
  font-family: "Old Standard TT";
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
}

.item_contact {
  padding-top: 25px;
  padding-bottom: 20px;
}
.item_contact .number {
  padding-left: 15px;
}

.badge_footer {
  background-color: #F8F8F8;
  height: 90px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding-top: 30px;
  padding-left: 20px;
}
.badge_footer p {
  font-family: "Roboto", serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 18.75px;
  letter-spacing: -0.48px;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

body {
  background-color: #FFFFFF;
}

#habitacion_1 {
  background-image: url("../images/rooms/grid_rooms/habitacion_1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

#habitacion_2 {
  background-image: url("../images/rooms/grid_rooms/habitacion_2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

#habitacion_3 {
  background-image: url("../images/rooms/grid_rooms/habitacion_3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

/*# sourceMappingURL=rooms.css.map */
