@import url("https://fonts.googleapis.com/css2?family=Archivo&family=Old+Standard+TT&family=Roboto:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Archivo&family=Old+Standard+TT&family=Roboto:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Archivo&family=Old+Standard+TT&family=Roboto:wght@700&display=swap");
nav {
  background-color: #FFFFFF;
  height: 70px;
}
nav #btn_menu {
  position: absolute;
  margin-top: 25px;
  margin-left: 20px;
}
nav #logo {
  margin-left: 34px;
}
nav #icon_person {
  position: absolute;
  right: 0;
  top: 21px;
  margin-right: 60px;
  background-color: white;
}
nav #search_icon {
  position: absolute;
  right: 0;
  top: 18px;
  margin-right: 20px;
  background-color: #FFFFFF;
}

#main_about {
  height: 265px;
  background-color: #333333;
  padding-left: 20px;
  color: #FFFFFF;
  position: relative;
  margin-bottom: 60px;
}
#main_about p {
  padding-top: 60px;
  font-family: "Archivo", sans-serif;
  text-transform: uppercase;
  font-style: normal;
  letter-spacing: 2.8px;
}
#main_about h1 {
  padding-top: 15px;
  font-family: "Old Standard TT", sans-serif;
  font-style: normal;
  font-size: 56px;
  letter-spacing: -1.2px;
  font-weight: 400;
}

#card_about {
  bottom: 0;
  right: 17px;
  position: absolute;
  background-color: #FFFFFF;
  height: 40px;
  width: 130px;
  display: flex;
  gap: 12px;
  text-align: center;
  padding-left: 9px;
  padding-right: 9px;
  font-size: 16px;
}
#card_about #home {
  font-family: "Archivo", sans-serif;
  font-size: 16px;
  line-height: 17px;
  letter-spacing: -0.48px;
  color: #222222;
  font-weight: 700;
}
#card_about #about {
  padding-left: 8px;
  font-family: "Archivo", sans-serif;
  font-size: 16px;
  line-height: 17px;
  letter-spacing: -0.48px;
  color: #BEAD8E;
  font-weight: 700;
}
#card_about #line {
  width: 2px;
  background-color: #111111;
  height: 32px;
  margin-top: 4px;
  margin-bottom: 2px;
}

.type_room_text {
  padding: 20px;
}
.type_room_text p {
  font-family: "Archivo", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  color: #777777;
  font-style: normal;
  letter-spacing: 2.8px;
}
.type_room_text h1 {
  padding-top: 10px;
  font-family: "Old Standard TT", sans-serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: -1.44px;
  color: #222222;
}

#price {
  padding-top: 20px;
  font-family: "Archivo", sans-serif;
  font-size: 25px;
  text-transform: none;
  font-style: normal;
  color: #BEAD8E;
  letter-spacing: 0px;
}
#price sub {
  font-size: 12px;
}

#check {
  text-align: center;
  font-family: "Archivo", sans-serif;
  font-size: 18px;
  letter-spacing: -0.54px;
}

/*Terminar calendar y imagen */
.avalaibility_calendar {
  height: 380px;
}

.text_check {
  margin: 20px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}
.text_check p {
  font-size: 14px;
  line-height: 24px;
  color: #777777;
}

/*Amenities*/
.amenities {
  margin: 20px;
}
.amenities h1 {
  font-family: "Old Standard TT";
  font-weight: 400;
  font-size: 30px;
  line-height: 30px;
  margin-bottom: 20px;
}
.amenities #eyeliner {
  height: 2px;
  background-color: #777777;
  margin-bottom: 20px;
}

.item_amenities {
  margin: 5px;
  display: flex;
  margin-top: 20px;
  justify-content: space-between;
}
.item_amenities ul {
  list-style: none;
}
.item_amenities li {
  padding-bottom: 10px;
}
.item_amenities span {
  padding-left: 6px;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

body {
  background-color: #FFFFFF;
}

#image {
  height: 214px;
  margin: 20px;
  background-color: #EFEFEF;
}

/*# sourceMappingURL=room_details.css.map */
