@use 'components/navbar';
@use 'components/arrival_card';
@use 'components/card_more';
@use 'components/slider_image';
@use 'components/card_info_price';
@use 'components/intro_video';
@use 'components/footer';
@import 'components/mixin';


@import url('https://fonts.googleapis.com/css2?family=Archivo&family=Old+Standard+TT&family=Roboto:wght@700&display=swap');
//VARIABLES GLOBALES
$black-color: #222222;
$white-color: #E5E5E5;
$white-color-nav: #FFFFFF;
$gold-color: #BEAD8E;
$black-card: #333333;
$white-card: #F9F9F9;
$grey-color-card: #DBDBDB;
$grey-color-slider: #EDEDED;
//Colores para textos //
$text-color-grey: #777777;
$text-color-black-bold: #111111;
$text-color-black: #222222;
$text-color-white: #FFFFFF;


* {
    padding: 0;
    margin: 0;
    border: 0;
}

body {
    background-color: $white-color-nav;
}

#main_card {
    background-color: $black-card;
    height: 531px;
    padding-left: 20px;

    @include media(tablet) {
        height: 500px;
    }

    @include media(tablet-max) {
        height: 585px;
    }

    @include media(phone-only) {
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;

    }

    p {
        font-size: 22px;
        padding-top: 52px;
        color: $text-color-white;
        line-height: 2rem;
        letter-spacing: 2.8px;
        font-weight: bold;

        @include media(phone-only) {
            font-size: 45px;
            text-align: center;
            line-height: 3rem;
        }

        @include media(tablet) {
            font-size: 45px;
            line-height: 3rem;

        }

        @include media(tablet-max) {
            font-size: 70px;
            line-height: 4.5rem;
            text-align: center;
        }

    }

    h1 {
        font-family: 'Old Standard TT', serif;
        font-size: 56px;
        padding-top: 32px;

        font-weight: 400;
        color: $text-color-white;
        letter-spacing: -1.2px;

        @include media(phone-only) {
            font-size: 40px;
        }

        @include media(tablet) {
            font-size: 40px;
        }
    }


    #btn_group {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding-top: 25px;

        gap: 22px;
    }

    button {
        width: 216px;
        height: 60px;
        font-weight: bold;
        font-size: 14px;
        letter-spacing: 2.8px;
        line-height: 15.23px;
        color: $text-color-white;
    }


    #btn_tour {
        background-color: $gold-color ;
    }

    #btn_more {
        background-color: $black-card;
        border: 2px solid rgba(255, 255, 255, 0.33);
    }


}

//CARD DISCOVER US
#discover_us {
    height: 510px;
    background-color: $white-color-nav;
    padding-left: 20px;

    @include media(phone-only) {
        display: flex;
        align-items: center;
        align-content: center;
        flex-direction: column;
    }

    #discover_subtitle {
        padding-top: 38px;
        color: $text-color-grey;
        font-weight: bold;
        font-size: 13px;
        line-height: 18px;
        letter-spacing: 2.8px;

    }

    h1 {
        font-family: 'Old Standard TT', serif;
        font-size: 56px;
        line-height: 60px;
        padding-top: 38px;
        font-weight: 400;
        line-height: 60px;
        color: $text-color-black-bold;
    }

    #text_discover {
        font-size: 14px;
        font-weight: 400px;
        color: $text-color-grey;
        padding-top: 22px;
        line-height: 24px;
        width: 335px;
        height: 126px;
        padding-bottom: 15px;
        font-family: 'Archivo', sans-serif;
    }

    button {

        width: 216px;
        height: 60px;
        font-weight: bold;
        font-size: 14px;
        letter-spacing: 2.8px;
        line-height: 15.23px;
        background-color: $gold-color ;
        color: $text-color-white;
    }
}

.subtitles_info {
    font-family: 'Archivo', sans-serif;
    color: $text-color-grey;
    text-align: center;
    font-weight: bold;
    font-size: 14px;
    line-height: 15px;
    letter-spacing: 2.8px;
}

.title_info {
    text-align: center;
    font-weight: 400;
    font-size: 56px;
    font-family: 'Old Standard TT', serif;
    letter-spacing: -1, 2px;
    margin-top: 25px;
    margin-bottom: 12px;
}

#slider_box {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

//Facilities

.facilities {
    text-align: center;
    height: 501px;


    #subtitle {
        font-family: 'Archivo', serif;
        font-weight: bold;
        font-size: 14px;
        letter-spacing: 2.8px;
        line-height: 15.23px;
        color: $text-color-grey;
        padding-bottom: 18px;
    }

    h1 {
        font-family: 'Old Standard TT', serif;
        font-weight: 400;
        font-size: 56px;
        line-height: 60px;
        letter-spacing: -1.2px;
        color: #222222;

    }

    .slider_core {
        margin-top: 22px;
        height: 370px;
        background-color: red;
    }
}

//Roscon image 1
.menu {
    height: 800px;
    margin-top: 18px;
    padding-left: 20px;



    #roscon {
        position: absolute;
        margin-top: 1px;
        right: 0;
    }

    //Roscon image 2 
    .menu_div {
        position: relative;
        top: 120px;

        #subtitle_menu {
            font-family: 'Archivo', serif;
            font-size: 14px;
            line-height: 15.23px;
            letter-spacing: 2.8px;
            color: $text-color-grey;
            font-weight: bold;
        }

        #title_menu {
            font-family: 'Old Standard TT', serif;
            line-height: 60px;
            letter-spacing: -1.2px;
            font-weight: 400;
            font-size: 56px;
            padding-top: 30px;
        }



    }


}



//Menu food item 
.menu_food {
    padding-top: 20px;
    padding-bottom: 12px;
    height: 120px;
    display: flex;
    column-gap: 20px;

    .image_menu {
        background-color: $grey-color-card ;
        width: 120px;
    }

    .text_menu {
        width: 185px;

        h1 {
            font-family: 'Old Standard TT', serif;
            font-family: 400;
            font-size: 24px;
            line-height: 24px;
            letter-spacing: -0.72px;
            padding-bottom: 10px;
        }

        p {
            font-family: 'Roboto', serif;
            font-size: 14px;
            font-weight: 400;
            line-height: 24px;
        }
    }

}

.arrow_right {
    position: relative;
    top: 115px;
    left: 310px;
    height: 20px;
    padding: 20px;
    background-color: $gold-color;

    img {
        position: relative;
        bottom: 7px;
    }
}

.arrow_left {
    position: relative;
    top: 115px;
    left: 190px;
    height: 20px;
    padding: 20px;
    background-color: #F8F8F8;

    img {
        position: relative;
        bottom: 7px;
    }
}

//Basic Slider
.basic_slider {

    margin: 20px;
    height: 335px;
    background-color: $grey-color-slider;
}

.wrap_icons {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    background-color: #222222;
}

.card_icons {
    height: 1030px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #222222;

    @include media(phone-only) {
        flex-direction: row;
        align-content: space-between;
        height: 300px;
    }

    .card_icon {
        padding: 35px 0px;
        height: 186px;
        background-color: #222222;
    }
}

.container_services {
    @include media(phone-only) {
        display: flex;
        align-items: baseline;
    }
}

.img_luxe {

    background-image: url('../images/home/home_luxe_3800.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#luxury_img {
    background-image: url('../images/home/home_luxury.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

}

#duplex_img {
    background-image: url('../images/home/home_duplex.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

}

.slider_core {
    background-image: url('../images/home/home_core.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}