@use 'components/navbar';
@use 'components/arrival_card';
@use 'components/card_more';
@use 'components/slider_image';
@use 'components/card_info_price';
@use 'components/intro_video';

@import url('https://fonts.googleapis.com/css2?family=Archivo&family=Old+Standard+TT&family=Roboto:wght@700&display=swap');
//VARIABLES GLOBALES
$black-color: #222222;
$white-color: #E5E5E5;
$white-color-nav: #FFFFFF;
$gold-color: #BEAD8E;
$black-card: #333333;
$white-card: #F9F9F9;
//Colores para textos //
$text-color-grey: #777777;
$text-color-black-bold: #111111;
$text-color-black: #222222;
$text-color-white: #FFFFFF;


* {
    padding: 0;
    margin: 0;
    border: 0;
}

body {
    background-color: $white-color-nav;
}

#main_card {
    background-color: $black-card;
    height: 531px;
    padding-left: 20px;

    p {
        font-size: 15px;

        padding-top: 52px;
        color: $text-color-white;
        line-height: 18px;
        letter-spacing: 2.8px;
        font-weight: bold;

    }

    h1 {
        font-family: 'Old Standard TT', serif;
        font-size: 56px;
        padding-top: 32px;

        font-weight: 400;
        color: $text-color-white;
        letter-spacing: -1.2px;
    }


    #btn_group {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding-top: 25px;

        gap: 22px;
    }

    button {
        width: 216px;
        height: 60px;
        font-weight: bold;
        font-size: 14px;
        letter-spacing: 2.8px;
        line-height: 15.23px;
        color: $text-color-white;
    }


    #btn_tour {
        background-color: $gold-color ;
    }

    #btn_more {
        background-color: $black-card;
        border: 2px solid rgba(255, 255, 255, 0.33);
    }


}

//CARD DISCOVER US
#discover_us {
    height: 510px;
    background-color: $white-color-nav;
    padding-left: 20px;

    #discover_subtitle {
        padding-top: 38px;
        color: $text-color-grey;
        font-weight: bold;
        font-size: 13px;
        line-height: 18px;
        letter-spacing: 2.8px;

    }

    h1 {
        font-family: 'Old Standard TT', serif;
        font-size: 56px;
        line-height: 60px;
        padding-top: 38px;
        font-weight: 400;
        line-height: 60px;
        color: $text-color-black-bold;
    }

    #text_discover {
        font-size: 14px;
        font-weight: 400px;
        color: $text-color-grey;
        padding-top: 22px;
        line-height: 24px;
        width: 335px;
        height: 126px;
        padding-bottom: 15px;
        font-family: 'Archivo', sans-serif;
    }

    button {

        width: 216px;
        height: 60px;
        font-weight: bold;
        font-size: 14px;
        letter-spacing: 2.8px;
        line-height: 15.23px;
        background-color: $gold-color ;
        color: $text-color-white;
    }
}

.subtitles_info {
    font-family: 'Archivo', sans-serif;
    color: $text-color-grey;
    text-align: center;
    font-weight: bold;
    font-size: 14px;
    line-height: 15px;
    letter-spacing: 2.8px;
}

.title_info {
    text-align: center;
    font-weight: 400;
    font-size: 56px;
    font-family: 'Old Standard TT', serif;
    letter-spacing: -1, 2px;
    margin-top: 25px;
    margin-bottom: 12px;
}

#slider_box {
    display: block;
    margin-left: auto;
    margin-right: auto;
}