@import url('https://fonts.googleapis.com/css2?family=Archivo&family=Old+Standard+TT&family=Roboto:wght@700&display=swap');
@import '../components/mixin';
//VARIABLES GLOBALES
$black-color: #222222;
$white-color: #E5E5E5;
$white-color-nav: #FFFFFF;
$gold-color: #BEAD8E;
$black-card: #333333;
$white-card: #F9F9F9;
$grey-color-card: #DBDBDB;
$grey-color-slider: #EDEDED;
//Colores para textos //
$text-color-grey: #777777;
$text-color-black-bold: #111111;
$text-color-black: #222222;
$text-color-white: #FFFFFF;

.main_about {
    height: 265px;
    background-color: $black-card;
    color: $white-color-nav;
    position: relative;
    margin-bottom: 60px;


    p {
        padding-top: 60px;
        font-family: "Old Standard TT", serif;
        text-transform: uppercase;
        font-style: normal;
        letter-spacing: 2.8px;
    }

    h1 {
        padding-top: 15px;
        font-family: 'Old Standard TT', sans-serif;
        font-style: normal;
        font-size: 56px;
        letter-spacing: -1.2px;
        font-weight: 400;

    }

    /*Tablet*/
    @include media(tablet) {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        p {
            font-size: 40px;
            line-height: 2.5rem;
            text-align: center;
        }
    }

    /*DESKTOP*/
    @include media(desktop) {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        p {
            font-size: 70px;
            line-height: 4.5rem;
            text-align: center;
        }
    }




}

#card_about {
    bottom: 0;
    right: 17px;
    position: absolute;
    background-color: $white-color-nav;
    height: 40px;
    width: 130px;
    display: flex;
    gap: 12px;
    text-align: center;
    padding-left: 9px;
    padding-right: 9px;
    font-size: 16px;

    #home {

        font-family: 'Archivo', sans-serif;
        font-size: 16px;
        line-height: 17px;
        letter-spacing: -0.48px;
        color: #222222;
        font-weight: 700;
    }

    #about {
        padding-left: 8px;
        font-family: 'Archivo', sans-serif;
        font-size: 16px;
        line-height: 17px;
        letter-spacing: -0.48px;
        color: $gold-color;
        font-weight: 700;


    }

    #line {

        width: 2px;
        background-color: #111111;
        height: 32px;
        margin-top: 4px;
        margin-bottom: 2px;
    }


}